body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

a { color: rgb(8, 140, 181) }

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  cursor: pointer;  
  transition: background 0.5s ease-in;
}

.square:focus {
  outline: none;
}

.square.highlight {
  background: #fdd648;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-info a.current {
  font-weight: bold;
}

.toggle-btn {
  margin-top: 10px;
}

.toggle-btn .container {
  width: 40px;
  height: 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.toggle-btn .container > div {
  height: 100%;
  width: 50%;
  background-color: blue;
  border-radius: 50px;
}

.toggle-btn .container > div.on {
  float: right;
}
